# Uƒçitavanje datoteka

In [1]:
import pandas as pd

In [2]:
download_url = "https://drive.google.com/uc?id=1qXq6k2rNR_dgG9XA4uMjAeuzUYkGx7HZ"

In [3]:
df = pd.read_csv(download_url)
df.job_functions = df.job_functions.apply(eval)
df.industries = df.industries.apply(eval)

df.head()

,job_title,seniority_level,employment_type,industries,job_functions
0,Manual Tester,Entry level,Full-time,[Information Technology and Services],"[Engineering, Information Technology]"
1,Field Marketing Representative,Entry level,Full-time,"[Food & Beverages, Wholesale, Retail]","[Marketing, Sales]"
2,Consumer Relations Representative,Associate,Full-time,"[Marketing and Advertising, Food & Beverages, ...",[Other]
3,Software Engineer In Test,Mid-Senior level,Full-time,"[Information Technology and Services, Computer...","[Information Technology, Quality Assurance]"
4,Electrician,Entry level,Full-time,"[Electrical/Electronic Manufacturing, Construc...","[Management, Manufacturing]"

In [4]:
download_url = "https://drive.google.com/uc?id=1emt0cqUyMlGr6sJzUIWR9omqBJbODMkU"
test = pd.read_csv(download_url)
test.job_functions = test.job_functions.apply(eval)
test.industries = test.industries.apply(eval)

test.head()

,job_title,seniority_level,employment_type,industries,job_functions
0,"CAD Drafter - Dallas, TX",Not Applicable,Full-time,"[Construction, Civil Engineering, Real Estate]","[Design, Art/Creative, Information Technology]"
1,COMPUTER ANALYST NOC-2171,Entry level,Full-time,"[Information Technology and Services, Computer...",[Information Technology]
2,Videographer,Entry level,Full-time,"[Marketing and Advertising, Internet, Financia...","[Design, Art/Creative, Information Technology]"
3,Sales Representative,Entry level,Full-time,"[Building Materials, Machinery, Mechanical or ...","[Sales, Business Development]"
4,Open job positions for all employees,Entry level,Full-time,"[Electrical/Electronic Manufacturing, Construc...",[Other]